<div class="glitch-wrapper">
  <div data-text="WOLFSOUND" class="glitch"> WOLFSOUND</div>
  
</div>
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">polymer</i></h2>
          <h5 class="center">Customize your sound wave with ease</h5>

          <p class="light">Musique et image sont intimement liéés(Histoire de la musique et de l'image à développer).</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">vpn_key</i></h2>
          <h5 class="center">Protect your work</h5>

          <p class="light">Pour protéger le travail des artistes nous proposons à chaque fois des snippets de morceau afin de vous laisser le découvrir. Nous avons tout mis en place pour que vous puissiez acquerir le morceau après son écoute pour soutenir l'artiste que vous aimez.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center lime-text"><i class="material-icons">volume_up</i></h2>
          <h5 class="center">Un nouveau service pour le streaming de musique !</h5>

          <p class="light">Artistes, passionné de musique, découvrez les dernières nouveautés en exclusivité sur notre plateforme !</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
       <p class="light" data-text="
       Découvrez une nouvelle expérience musicale et digital. Uploader vos morceau sur notre cloud et laissez notre technologie générer un visuel pour vos morceau. Il s'adapte au rythme et au style musical que vous avez renseigné.
       " class="glitch2">Découvrez une nouvelle expérience musicale et digital. Uploader vos morceau sur notre cloud et laissez notre technologie générer un visuel pour vos morceau. Il s'adapte au rythme et au style musical que vous avez renseigné. </p>

       <p class="light" data-text="
       Nous laissons la possibilité de ne mette en ligne qu'un snippets de votre production afin de protéger celle-ci contre les téléchargements illégaux - Vous pouvez aussi proposer des morceaux exclusifs ou entier durant une durée determine à nos abonnés hack the sound. Cela permet de teaser votre communauté sur les nouveautés à venir - Vous pouvez renseigner toute les informations concernant les plateformes d'achat que vous utilisez (amazon, itune, deezer, spotify)
       " class="glitch2">Nous laissons la possibilité de ne mette en ligne qu'un snippets de votre production afin de protéger celle-ci contre les téléchargements illégaux - Vous pouvez aussi proposer des morceaux exclusifs ou entier durant une durée determine à nos abonnés hack the sound. Cela permet de teaser votre communauté sur les nouveautés à venir - Vous pouvez renseigner toute les informations concernant les plateformes d'achat que vous utilisez (amazon, itune, deezer, spotify)</p>
     </div>
   </div>
 </div>
 <div class="parallax middle"><img src="app/img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Vous êtes artiste ?</h4>
        <p class="left-align light">
          Découvrez une nouvelle expérience musicale et digital. Uploader vos morceau sur notre cloud et laissez notre technologie générer un visuel pour vos morceau. Il s'adapte au rythme et au style musical que vous avez renseigné. - Nous laissons la possibilité de ne mette en ligne qu'un snippets de votre production afin de protéger celle-ci contre les téléchargements illégaux </p>

          <p class="left-align light">Vous pouvez aussi proposer des morceaux exclusifs ou entier durant une durée determine à nos abonnés hack the sound. Cela permet de teaser votre communauté sur les nouveautés à venir - Vous pouvez renseigner toute les informations concernant les plateformes d'achat que vous utilisez (amazon, itune, deezer, spotify)</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"
          data-text="
          Wolfsound, streaming gratuit pour tout vos titres préférés. Visualisation audio live avec WebGl." class="glitch2"
          >Wolfsound, streaming gratuit pour tout vos titres préférés. Visualisation audio live avec WebGl.</h5>
        </div>
      </div>
    </div>
    <div class="parallax end"><img src="app/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>


