<div class="container">
  <h3>Contact</h3>

<div *ngFor="let contact of contact" class="">
  <!-- <div class="chip">
    <img src="http://materializecss.com/images/sample-1.jpg" alt="Contact Person">
   {{wolf.firstName}} {{wolf.lastName}} 
   <a [routerLink]="['/wolf', wolf._id]"  class="btn-floating waves-effect waves-light black"><i class="material-icons">add</i></a>
   <a (click)="destroy()" class="btn-floating waves-effect waves-light red"><i class="material-icons">clear</i></a>
  </div> -->
  <ul class="collection">
      	<li class="collection-item"><div class="chip">
		    <img src="http://materializecss.com/images/sample-1.jpg" alt="Contact Person">
		   {{contact.firstName}} {{contact.lastName}} 
		   
		  </div>
		  <span class="badge">
		  	<a [routerLink]="['/wolf', contact._id]"  class="btn-floating waves-effect waves-light black">
		  		<i class="material-icons">add</i>
		  	</a>
		   
		</span>
		  
		</li>
    </ul>
</div>
  
</div>

    <!-- <ul class="collection">
      	<li class="collection-item"><div class="chip">
		    <img src="http://materializecss.com/images/sample-1.jpg" alt="Contact Person">
		   {{wolf.firstName}} {{wolf.lastName}} 
		   
		  </div>
		  <a [routerLink]="['/wolf', wolf._id]"  class="btn-floating waves-effect waves-light black"><i class="material-icons">add</i></a>
		   <a (click)="destroy()" class="btn-floating waves-effect waves-light red"><i class="material-icons">clear</i></a>
		</li>
    </ul> -->