#gradient {
  position: absolute;
  width:100%;
  height : 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #836997;
}

body {
  background: black;
  min-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, -1000px);
    transform: translate3d(0, 0, -1000px);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, -1000px);
    transform: translate3d(0, 0, -1000px);
  }
}
.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.bubble {
  position: absolute;
  background: black;
  opacity: .7;
  border-radius: 50%;
  -webkit-animation: move 3s infinite;
  animation: move 3s infinite;
}

.bubble:nth-child(1) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  -webkit-transform: translate3d(916px, 12px, 513px);
  transform: translate3d(916px, 12px, 513px);
  background: #26d9c7;
}

.bubble:nth-child(2) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  -webkit-transform: translate3d(722px, 565px, 507px);
  transform: translate3d(722px, 565px, 507px);
  background: #26d9c7;
}

.bubble:nth-child(3) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  -webkit-transform: translate3d(494px, 439px, 1059px);
  transform: translate3d(494px, 439px, 1059px);
  background: #53d926;
}

.bubble:nth-child(4) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  -webkit-transform: translate3d(662px, 988px, 786px);
  transform: translate3d(662px, 988px, 786px);
  background: #26d9b5;
}

.bubble:nth-child(5) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(685px, 471px, 1453px);
  transform: translate3d(685px, 471px, 1453px);
  background: #26c1d9;
}

.bubble:nth-child(6) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  -webkit-transform: translate3d(954px, 273px, 1928px);
  transform: translate3d(954px, 273px, 1928px);
  background: #53d926;
}

.bubble:nth-child(7) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
  -webkit-transform: translate3d(312px, 158px, 924px);
  transform: translate3d(312px, 158px, 924px);
  background: #4426d9;
}

.bubble:nth-child(8) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
  -webkit-transform: translate3d(727px, 949px, 1698px);
  transform: translate3d(727px, 949px, 1698px);
  background: #2629d9;
}

.bubble:nth-child(9) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  -webkit-transform: translate3d(888px, 789px, 425px);
  transform: translate3d(888px, 789px, 425px);
  background: #2644d9;
}

.bubble:nth-child(10) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(360px, 855px, 758px);
  transform: translate3d(360px, 855px, 758px);
  background: #26d935;
}

.bubble:nth-child(11) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -2.2s;
  animation-delay: -2.2s;
  -webkit-transform: translate3d(21px, 575px, 1279px);
  transform: translate3d(21px, 575px, 1279px);
  background: #8026d9;
}

.bubble:nth-child(12) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
  -webkit-transform: translate3d(476px, 667px, 984px);
  transform: translate3d(476px, 667px, 984px);
  background: #d926b5;
}

.bubble:nth-child(13) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s;
  -webkit-transform: translate3d(344px, 65px, 289px);
  transform: translate3d(344px, 65px, 289px);
  background: #56d926;
}

.bubble:nth-child(14) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s;
  -webkit-transform: translate3d(707px, 258px, 1361px);
  transform: translate3d(707px, 258px, 1361px);
  background: #d97126;
}

.bubble:nth-child(15) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(436px, 75px, 1995px);
  transform: translate3d(436px, 75px, 1995px);
  background: #d9265c;
}

.bubble:nth-child(16) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
  -webkit-transform: translate3d(856px, 322px, 1870px);
  transform: translate3d(856px, 322px, 1870px);
  background: #d926ac;
}

.bubble:nth-child(17) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -3.4s;
  animation-delay: -3.4s;
  -webkit-transform: translate3d(715px, 394px, 1846px);
  transform: translate3d(715px, 394px, 1846px);
  background: #2fd926;
}

.bubble:nth-child(18) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  -webkit-transform: translate3d(183px, 14px, 1714px);
  transform: translate3d(183px, 14px, 1714px);
  background: #a926d9;
}

.bubble:nth-child(19) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -3.8s;
  animation-delay: -3.8s;
  -webkit-transform: translate3d(148px, 827px, 1856px);
  transform: translate3d(148px, 827px, 1856px);
  background: #d9266b;
}

.bubble:nth-child(20) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(753px, 367px, 1838px);
  transform: translate3d(753px, 367px, 1838px);
  background: #26a0d9;
}

.bubble:nth-child(21) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
  animation-delay: -4.2s;
  -webkit-transform: translate3d(116px, 94px, 253px);
  transform: translate3d(116px, 94px, 253px);
  background: #2671d9;
}

.bubble:nth-child(22) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.4s;
  animation-delay: -4.4s;
  -webkit-transform: translate3d(494px, 430px, 67px);
  transform: translate3d(494px, 430px, 67px);
  background: #d9af26;
}

.bubble:nth-child(23) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
  -webkit-transform: translate3d(336px, 386px, 656px);
  transform: translate3d(336px, 386px, 656px);
  background: #d9b826;
}

.bubble:nth-child(24) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
  -webkit-transform: translate3d(406px, 289px, 1841px);
  transform: translate3d(406px, 289px, 1841px);
  background: #26d9a9;
}

.bubble:nth-child(25) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(939px, 73px, 1009px);
  transform: translate3d(939px, 73px, 1009px);
  background: #d9265f;
}

.bubble:nth-child(26) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -5.2s;
  animation-delay: -5.2s;
  -webkit-transform: translate3d(156px, 517px, 137px);
  transform: translate3d(156px, 517px, 137px);
  background: #53d926;
}

.bubble:nth-child(27) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  -webkit-transform: translate3d(569px, 435px, 688px);
  transform: translate3d(569px, 435px, 688px);
  background: #5cd926;
}

.bubble:nth-child(28) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -5.6s;
  animation-delay: -5.6s;
  -webkit-transform: translate3d(75px, 366px, 1718px);
  transform: translate3d(75px, 366px, 1718px);
  background: #d95f26;
}

.bubble:nth-child(29) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -5.8s;
  animation-delay: -5.8s;
  -webkit-transform: translate3d(315px, 734px, 324px);
  transform: translate3d(315px, 734px, 324px);
  background: #cad926;
}

.bubble:nth-child(30) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(998px, 590px, 1676px);
  transform: translate3d(998px, 590px, 1676px);
  background: #d92653;
}

.bubble:nth-child(31) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6.2s;
  animation-delay: -6.2s;
  -webkit-transform: translate3d(553px, 82px, 1357px);
  transform: translate3d(553px, 82px, 1357px);
  background: #26d9bb;
}

.bubble:nth-child(32) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -6.4s;
  animation-delay: -6.4s;
  -webkit-transform: translate3d(558px, 878px, 1775px);
  transform: translate3d(558px, 878px, 1775px);
  background: #d92653;
}

.bubble:nth-child(33) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -6.6s;
  animation-delay: -6.6s;
  -webkit-transform: translate3d(315px, 564px, 790px);
  transform: translate3d(315px, 564px, 790px);
  background: #26d9a0;
}

.bubble:nth-child(34) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -6.8s;
  animation-delay: -6.8s;
  -webkit-transform: translate3d(220px, 692px, 842px);
  transform: translate3d(220px, 692px, 842px);
  background: #47d926;
}

.bubble:nth-child(35) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(723px, 757px, 1567px);
  transform: translate3d(723px, 757px, 1567px);
  background: #d92680;
}

.bubble:nth-child(36) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  -webkit-transform: translate3d(854px, 854px, 526px);
  transform: translate3d(854px, 854px, 526px);
  background: #26d9a0;
}

.bubble:nth-child(37) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -7.4s;
  animation-delay: -7.4s;
  -webkit-transform: translate3d(685px, 117px, 386px);
  transform: translate3d(685px, 117px, 386px);
  background: #d97a26;
}

.bubble:nth-child(38) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -7.6s;
  animation-delay: -7.6s;
  -webkit-transform: translate3d(590px, 817px, 1537px);
  transform: translate3d(590px, 817px, 1537px);
  background: #266ed9;
}

.bubble:nth-child(39) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -7.8s;
  animation-delay: -7.8s;
  -webkit-transform: translate3d(333px, 652px, 1901px);
  transform: translate3d(333px, 652px, 1901px);
  background: #7726d9;
}

.bubble:nth-child(40) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(415px, 946px, 1897px);
  transform: translate3d(415px, 946px, 1897px);
  background: #26d92c;
}

.bubble:nth-child(41) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -8.2s;
  animation-delay: -8.2s;
  -webkit-transform: translate3d(818px, 824px, 679px);
  transform: translate3d(818px, 824px, 679px);
  background: #26b5d9;
}

.bubble:nth-child(42) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -8.4s;
  animation-delay: -8.4s;
  -webkit-transform: translate3d(341px, 347px, 1889px);
  transform: translate3d(341px, 347px, 1889px);
  background: #26d985;
}

.bubble:nth-child(43) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -8.6s;
  animation-delay: -8.6s;
  -webkit-transform: translate3d(616px, 724px, 1324px);
  transform: translate3d(616px, 724px, 1324px);
  background: #2650d9;
}

.bubble:nth-child(44) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -8.8s;
  animation-delay: -8.8s;
  -webkit-transform: translate3d(890px, 175px, 568px);
  transform: translate3d(890px, 175px, 568px);
  background: #265fd9;
}

.bubble:nth-child(45) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  -webkit-transform: translate3d(6px, 144px, 681px);
  transform: translate3d(6px, 144px, 681px);
  background: #bbd926;
}

.bubble:nth-child(46) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -9.2s;
  animation-delay: -9.2s;
  -webkit-transform: translate3d(847px, 173px, 1452px);
  transform: translate3d(847px, 173px, 1452px);
  background: #6ed926;
}

.bubble:nth-child(47) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -9.4s;
  animation-delay: -9.4s;
  -webkit-transform: translate3d(468px, 526px, 1523px);
  transform: translate3d(468px, 526px, 1523px);
  background: #35d926;
}

.bubble:nth-child(48) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -9.6s;
  animation-delay: -9.6s;
  -webkit-transform: translate3d(388px, 969px, 423px);
  transform: translate3d(388px, 969px, 423px);
  background: #2682d9;
}

.bubble:nth-child(49) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -9.8s;
  animation-delay: -9.8s;
  -webkit-transform: translate3d(412px, 605px, 1861px);
  transform: translate3d(412px, 605px, 1861px);
  background: #d9c726;
}

.bubble:nth-child(50) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-transform: translate3d(35px, 219px, 1477px);
  transform: translate3d(35px, 219px, 1477px);
  background: #26d9b2;
}

.bubble:nth-child(51) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -10.2s;
  animation-delay: -10.2s;
  -webkit-transform: translate3d(792px, 343px, 590px);
  transform: translate3d(792px, 343px, 590px);
  background: #94d926;
}

.bubble:nth-child(52) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -10.4s;
  animation-delay: -10.4s;
  -webkit-transform: translate3d(461px, 836px, 1160px);
  transform: translate3d(461px, 836px, 1160px);
  background: #26d974;
}

.bubble:nth-child(53) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -10.6s;
  animation-delay: -10.6s;
  -webkit-transform: translate3d(949px, 866px, 1286px);
  transform: translate3d(949px, 866px, 1286px);
  background: #d92688;
}

.bubble:nth-child(54) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -10.8s;
  animation-delay: -10.8s;
  -webkit-transform: translate3d(713px, 563px, 697px);
  transform: translate3d(713px, 563px, 697px);
  background: #26d3d9;
}

.bubble:nth-child(55) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  -webkit-transform: translate3d(262px, 459px, 1845px);
  transform: translate3d(262px, 459px, 1845px);
  background: #26d950;
}

.bubble:nth-child(56) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -11.2s;
  animation-delay: -11.2s;
  -webkit-transform: translate3d(227px, 374px, 637px);
  transform: translate3d(227px, 374px, 637px);
  background: #d94126;
}

.bubble:nth-child(57) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -11.4s;
  animation-delay: -11.4s;
  -webkit-transform: translate3d(724px, 308px, 1045px);
  transform: translate3d(724px, 308px, 1045px);
  background: #a326d9;
}

.bubble:nth-child(58) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -11.6s;
  animation-delay: -11.6s;
  -webkit-transform: translate3d(169px, 67px, 1996px);
  transform: translate3d(169px, 67px, 1996px);
  background: #d926af;
}

.bubble:nth-child(59) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -11.8s;
  animation-delay: -11.8s;
  -webkit-transform: translate3d(560px, 262px, 1037px);
  transform: translate3d(560px, 262px, 1037px);
  background: #d926c1;
}

.bubble:nth-child(60) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(999px, 820px, 1578px);
  transform: translate3d(999px, 820px, 1578px);
  background: #d926d0;
}

.bubble:nth-child(61) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -12.2s;
  animation-delay: -12.2s;
  -webkit-transform: translate3d(955px, 982px, 494px);
  transform: translate3d(955px, 982px, 494px);
  background: #266ed9;
}

.bubble:nth-child(62) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -12.4s;
  animation-delay: -12.4s;
  -webkit-transform: translate3d(300px, 613px, 464px);
  transform: translate3d(300px, 613px, 464px);
  background: #26d9c1;
}

.bubble:nth-child(63) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -12.6s;
  animation-delay: -12.6s;
  -webkit-transform: translate3d(494px, 467px, 975px);
  transform: translate3d(494px, 467px, 975px);
  background: #6226d9;
}

.bubble:nth-child(64) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -12.8s;
  animation-delay: -12.8s;
  -webkit-transform: translate3d(106px, 635px, 1208px);
  transform: translate3d(106px, 635px, 1208px);
  background: #26d3d9;
}

.bubble:nth-child(65) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  -webkit-transform: translate3d(215px, 375px, 881px);
  transform: translate3d(215px, 375px, 881px);
  background: #7d26d9;
}

.bubble:nth-child(66) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -13.2s;
  animation-delay: -13.2s;
  -webkit-transform: translate3d(25px, 332px, 1173px);
  transform: translate3d(25px, 332px, 1173px);
  background: #265cd9;
}

.bubble:nth-child(67) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -13.4s;
  animation-delay: -13.4s;
  -webkit-transform: translate3d(398px, 323px, 1244px);
  transform: translate3d(398px, 323px, 1244px);
  background: #d926a0;
}

.bubble:nth-child(68) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -13.6s;
  animation-delay: -13.6s;
  -webkit-transform: translate3d(471px, 704px, 1847px);
  transform: translate3d(471px, 704px, 1847px);
  background: #5926d9;
}

.bubble:nth-child(69) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -13.8s;
  animation-delay: -13.8s;
  -webkit-transform: translate3d(426px, 22px, 845px);
  transform: translate3d(426px, 22px, 845px);
  background: #d92691;
}

.bubble:nth-child(70) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  -webkit-transform: translate3d(236px, 114px, 1292px);
  transform: translate3d(236px, 114px, 1292px);
  background: #a0d926;
}

.bubble:nth-child(71) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -14.2s;
  animation-delay: -14.2s;
  -webkit-transform: translate3d(917px, 16px, 97px);
  transform: translate3d(917px, 16px, 97px);
  background: #26d9a6;
}

.bubble:nth-child(72) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -14.4s;
  animation-delay: -14.4s;
  -webkit-transform: translate3d(34px, 439px, 1860px);
  transform: translate3d(34px, 439px, 1860px);
  background: #6826d9;
}

.bubble:nth-child(73) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -14.6s;
  animation-delay: -14.6s;
  -webkit-transform: translate3d(710px, 554px, 1452px);
  transform: translate3d(710px, 554px, 1452px);
  background: #d93826;
}

.bubble:nth-child(74) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -14.8s;
  animation-delay: -14.8s;
  -webkit-transform: translate3d(638px, 178px, 1468px);
  transform: translate3d(638px, 178px, 1468px);
  background: #d94a26;
}

.bubble:nth-child(75) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  -webkit-transform: translate3d(870px, 905px, 801px);
  transform: translate3d(870px, 905px, 801px);
  background: #59d926;
}

.bubble:nth-child(76) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -15.2s;
  animation-delay: -15.2s;
  -webkit-transform: translate3d(173px, 826px, 1772px);
  transform: translate3d(173px, 826px, 1772px);
  background: #d98826;
}

.bubble:nth-child(77) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -15.4s;
  animation-delay: -15.4s;
  -webkit-transform: translate3d(557px, 142px, 483px);
  transform: translate3d(557px, 142px, 483px);
  background: #d9264a;
}

.bubble:nth-child(78) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -15.6s;
  animation-delay: -15.6s;
  -webkit-transform: translate3d(114px, 899px, 1684px);
  transform: translate3d(114px, 899px, 1684px);
  background: #26d97d;
}

.bubble:nth-child(79) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -15.8s;
  animation-delay: -15.8s;
  -webkit-transform: translate3d(84px, 827px, 412px);
  transform: translate3d(84px, 827px, 412px);
  background: #74d926;
}

.bubble:nth-child(80) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(256px, 435px, 158px);
  transform: translate3d(256px, 435px, 158px);
  background: #26d956;
}

.bubble:nth-child(81) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -16.2s;
  animation-delay: -16.2s;
  -webkit-transform: translate3d(17px, 325px, 871px);
  transform: translate3d(17px, 325px, 871px);
  background: #47d926;
}

.bubble:nth-child(82) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -16.4s;
  animation-delay: -16.4s;
  -webkit-transform: translate3d(295px, 533px, 1381px);
  transform: translate3d(295px, 533px, 1381px);
  background: #4426d9;
}

.bubble:nth-child(83) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -16.6s;
  animation-delay: -16.6s;
  -webkit-transform: translate3d(287px, 1000px, 889px);
  transform: translate3d(287px, 1000px, 889px);
  background: #afd926;
}

.bubble:nth-child(84) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -16.8s;
  animation-delay: -16.8s;
  -webkit-transform: translate3d(501px, 127px, 842px);
  transform: translate3d(501px, 127px, 842px);
  background: #9d26d9;
}

.bubble:nth-child(85) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  -webkit-transform: translate3d(581px, 905px, 594px);
  transform: translate3d(581px, 905px, 594px);
  background: #d9a026;
}

.bubble:nth-child(86) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -17.2s;
  animation-delay: -17.2s;
  -webkit-transform: translate3d(540px, 274px, 251px);
  transform: translate3d(540px, 274px, 251px);
  background: #26cdd9;
}

.bubble:nth-child(87) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -17.4s;
  animation-delay: -17.4s;
  -webkit-transform: translate3d(724px, 619px, 1897px);
  transform: translate3d(724px, 619px, 1897px);
  background: #d97d26;
}

.bubble:nth-child(88) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -17.6s;
  animation-delay: -17.6s;
  -webkit-transform: translate3d(842px, 988px, 922px);
  transform: translate3d(842px, 988px, 922px);
  background: #d9b226;
}

.bubble:nth-child(89) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -17.8s;
  animation-delay: -17.8s;
  -webkit-transform: translate3d(992px, 24px, 1501px);
  transform: translate3d(992px, 24px, 1501px);
  background: #d94a26;
}

.bubble:nth-child(90) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform: translate3d(204px, 139px, 1731px);
  transform: translate3d(204px, 139px, 1731px);
  background: #d99d26;
}

.bubble:nth-child(91) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -18.2s;
  animation-delay: -18.2s;
  -webkit-transform: translate3d(695px, 890px, 927px);
  transform: translate3d(695px, 890px, 927px);
  background: #2694d9;
}

.bubble:nth-child(92) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -18.4s;
  animation-delay: -18.4s;
  -webkit-transform: translate3d(490px, 767px, 1642px);
  transform: translate3d(490px, 767px, 1642px);
  background: #3bd926;
}

.bubble:nth-child(93) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -18.6s;
  animation-delay: -18.6s;
  -webkit-transform: translate3d(823px, 594px, 1848px);
  transform: translate3d(823px, 594px, 1848px);
  background: #2626d9;
}

.bubble:nth-child(94) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -18.8s;
  animation-delay: -18.8s;
  -webkit-transform: translate3d(467px, 323px, 461px);
  transform: translate3d(467px, 323px, 461px);
  background: #a6d926;
}

.bubble:nth-child(95) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  -webkit-transform: translate3d(499px, 724px, 822px);
  transform: translate3d(499px, 724px, 822px);
  background: #d9265f;
}

.bubble:nth-child(96) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -19.2s;
  animation-delay: -19.2s;
  -webkit-transform: translate3d(611px, 387px, 1301px);
  transform: translate3d(611px, 387px, 1301px);
  background: #26d94d;
}

.bubble:nth-child(97) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -19.4s;
  animation-delay: -19.4s;
  -webkit-transform: translate3d(689px, 738px, 1253px);
  transform: translate3d(689px, 738px, 1253px);
  background: #d98226;
}

.bubble:nth-child(98) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -19.6s;
  animation-delay: -19.6s;
  -webkit-transform: translate3d(934px, 5px, 222px);
  transform: translate3d(934px, 5px, 222px);
  background: #2647d9;
}

.bubble:nth-child(99) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -19.8s;
  animation-delay: -19.8s;
  -webkit-transform: translate3d(943px, 549px, 1408px);
  transform: translate3d(943px, 549px, 1408px);
  background: #2638d9;
}

.bubble:nth-child(100) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(670px, 121px, 778px);
  transform: translate3d(670px, 121px, 778px);
  background: #3826d9;
}

.wrapper {
  width :100%;
  height: 100%;
}