<div class="container">
<h1>Add a friend</h1>

<form *ngIf="active"
      (ngSubmit)="onSubmit()"
       class="form-horizontal ">
  <fieldset>
    


  <legend>Add a friend</legend>
      <div class="row">
       
    <div class="form-group col s6">
      <label for="inputEmail" class="col-lg-2 control-label">First name</label>
      <div class="col-lg-10">
        <input required minlength="4" forbiddenName="bob" name="name" [(ngModel)]="contact.firstName"
        type="text" class="form-control" id="name" placeholder="Nom"/>
      </div>
    </div>
    <div class="form-group col s6">
      <label for="inputEmail" class="col-lg-2 control-label">Last name</label>
      <div class="col-lg-10">
        <input name="name" class="form-control" required minlength="4" forbiddenName="bob"  name="password" [(ngModel)]="contact.lastName "
        type="text" class="form-control" id="name" placeholder="name"/>
      </div>
    </div>
    </div>
<div class="row">
    <div class="form-group col s6">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input required minlength="4" forbiddenName="bob" name="name" [(ngModel)]="contact.email"
        type="text" class="form-control" id="name" placeholder="Infos"/>
      </div>
    </div>
    <div class="form-group col s6">
      <label for="inputEmail" class="col-lg-2 control-label">Country</label>
      <div class="col-lg-10">
        <input required minlength="4" forbiddenName="bob" name="photo" [(ngModel)]="contact.country"
        type="text" class="form-control" id="name" placeholder="Cover"/>
        <!-- You can now use your angular2-countrypicker -->
      </div>
    </div>
  </div>
    <div class="form-group col s12 center">
      <div class="col-lg-10 col-lg-offset-2">
    <!--     <button type="reset" class="btn btn-default black">Cancel</button> -->
        <button type="submit" (click)="savecontact()" class="btn btn-primary black">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

