  <nav class="white #212121 grey darken-4" role="navigation">
    <div class="nav-wrapper container">
       <a style="color :white;" data-text="ca" id="logo-container" href="#" class="brand-logo center">
        <!-- TROCART<sup>(beta)</sup> -->
       contact<sup>(beta)</sup>
      </a>
      <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse red-text">
  <i class="material-icons">menu</i>
</a>
      <ul class="right hide-on-med-and-down">
       <li><a routerLink="/add" class="btn red">Add contact</a></li>
      <li><a routerLink="/list" class="btn red">View contacts</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/add" class="btn red">Add contact</a></li>
      <li><a routerLink="/list" class="btn red">View contacts</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
 <footer class="#000000 black page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's contact ?</h5>
        <p class="grey-text text-lighten-4">
         an app for contact
       </p>
     </div>
     <div class="col l3 s12">
      <h5 class="white-text">Menu</h5>
      <ul>
        <li><a class="white-text" routerLink="/home">Home</a></li>
        <li><a class="white-text" routerLink="/add">Login</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Made with  <i class="material-icons">loyalty</i> by <a class="brown-text text-lighten-3" href="mailto:(theophile.vast@gmail.com">Théophile Vast</a>
  </div>
</div>
</footer>
