.fixed-action-btn.spin-close .btn-large {
  position: relative;
}
.fixed-action-btn.spin-close .btn-large i {
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
.fixed-action-btn.spin-close .btn-large:before {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close .btn-large:after {
  transition: transform 0.3s, opacity 0.3s;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.64rem;
  height: 2px;
  background: white;
  margin-top: -2px;
  margin-left: -0.82rem;
  transform: rotate(0);
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large i {
  opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large:before {
  opacity: 1;
  transform: rotate(135deg);
}
.fixed-action-btn.spin-close.active .btn-large:after {
  opacity: 1;
  transform: rotate(405deg);
}


.head {
  background: black;
}

.middle {
  background: black;
}

.end {
  background:black;
}


.w{
  color : #FF9E00 ;
}

.s{
  color : #FF472C ;
}
.o {
color : #106BE0;
}
.head {
  background: black;
}

.middle {
  background: black;
}

.end {
  background:black;
}


.w{
  color : #FF9E00 ;
}

.s{
  color : #FF472C ;
}
.o {
color : #106BE0;
}

/*Glitch effec*/
.glitch-wrapper {
  background-color: black;
}

.glitch-wrapper {
  font-family: 'Poiret One', cursive;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.glitch {
  color: white;
  font-size: 150px;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}

.glitch2 {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 12pxpx;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  -webkit-animation: glitch-anim-2 3s infinite linear alternate-reverse;
          animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  -webkit-animation: glitch-anim 2.5s infinite linear alternate-reverse;
          animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

.glitch2::before,
.glitch2::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch2::before {
  left: 2px;
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  -webkit-animation: glitch-anim-2 8s infinite linear alternate-reverse;
          animation: glitch-anim-2 8s infinite linear alternate-reverse;
}
.glitch2::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  -webkit-animation: glitch-anim 6s infinite linear alternate-reverse;
          animation: glitch-anim 6s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(98px, 9999px, 33px, 0);
  }
  4.16666667% {
    clip: rect(111px, 9999px, 58px, 0);
  }
  8.33333333% {
    clip: rect(72px, 9999px, 46px, 0);
  }
  12.5% {
    clip: rect(68px, 9999px, 32px, 0);
  }
  16.66666667% {
    clip: rect(77px, 9999px, 121px, 0);
  }
  20.83333333% {
    clip: rect(8px, 9999px, 107px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 24px, 0);
  }
  29.16666667% {
    clip: rect(116px, 9999px, 127px, 0);
  }
  33.33333333% {
    clip: rect(130px, 9999px, 135px, 0);
  }
  37.5% {
    clip: rect(114px, 9999px, 126px, 0);
  }
  41.66666667% {
    clip: rect(105px, 9999px, 3px, 0);
  }
  45.83333333% {
    clip: rect(66px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(93px, 9999px, 93px, 0);
  }
  54.16666667% {
    clip: rect(128px, 9999px, 30px, 0);
  }
  58.33333333% {
    clip: rect(117px, 9999px, 47px, 0);
  }
  62.5% {
    clip: rect(119px, 9999px, 145px, 0);
  }
  66.66666667% {
    clip: rect(58px, 9999px, 128px, 0);
  }
  70.83333333% {
    clip: rect(78px, 9999px, 133px, 0);
  }
  75% {
    clip: rect(124px, 9999px, 88px, 0);
  }
  79.16666667% {
    clip: rect(43px, 9999px, 139px, 0);
  }
  83.33333333% {
    clip: rect(60px, 9999px, 110px, 0);
  }
  87.5% {
    clip: rect(23px, 9999px, 33px, 0);
  }
  91.66666667% {
    clip: rect(139px, 9999px, 2px, 0);
  }
  95.83333333% {
    clip: rect(61px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 78px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(98px, 9999px, 33px, 0);
  }
  4.16666667% {
    clip: rect(111px, 9999px, 58px, 0);
  }
  8.33333333% {
    clip: rect(72px, 9999px, 46px, 0);
  }
  12.5% {
    clip: rect(68px, 9999px, 32px, 0);
  }
  16.66666667% {
    clip: rect(77px, 9999px, 121px, 0);
  }
  20.83333333% {
    clip: rect(8px, 9999px, 107px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 24px, 0);
  }
  29.16666667% {
    clip: rect(116px, 9999px, 127px, 0);
  }
  33.33333333% {
    clip: rect(130px, 9999px, 135px, 0);
  }
  37.5% {
    clip: rect(114px, 9999px, 126px, 0);
  }
  41.66666667% {
    clip: rect(105px, 9999px, 3px, 0);
  }
  45.83333333% {
    clip: rect(66px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(93px, 9999px, 93px, 0);
  }
  54.16666667% {
    clip: rect(128px, 9999px, 30px, 0);
  }
  58.33333333% {
    clip: rect(117px, 9999px, 47px, 0);
  }
  62.5% {
    clip: rect(119px, 9999px, 145px, 0);
  }
  66.66666667% {
    clip: rect(58px, 9999px, 128px, 0);
  }
  70.83333333% {
    clip: rect(78px, 9999px, 133px, 0);
  }
  75% {
    clip: rect(124px, 9999px, 88px, 0);
  }
  79.16666667% {
    clip: rect(43px, 9999px, 139px, 0);
  }
  83.33333333% {
    clip: rect(60px, 9999px, 110px, 0);
  }
  87.5% {
    clip: rect(23px, 9999px, 33px, 0);
  }
  91.66666667% {
    clip: rect(139px, 9999px, 2px, 0);
  }
  95.83333333% {
    clip: rect(61px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 78px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.66666667% {
    clip: rect(6px, 9999px, 149px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 94px, 0);
  }
  13.33333333% {
    clip: rect(67px, 9999px, 87px, 0);
  }
  16.66666667% {
    clip: rect(51px, 9999px, 110px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 72px, 0);
  }
  23.33333333% {
    clip: rect(130px, 9999px, 38px, 0);
  }
  26.66666667% {
    clip: rect(91px, 9999px, 134px, 0);
  }
  30% {
    clip: rect(69px, 9999px, 57px, 0);
  }
  33.33333333% {
    clip: rect(93px, 9999px, 114px, 0);
  }
  36.66666667% {
    clip: rect(122px, 9999px, 80px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 110px, 0);
  }
  43.33333333% {
    clip: rect(108px, 9999px, 112px, 0);
  }
  46.66666667% {
    clip: rect(133px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(15px, 9999px, 123px, 0);
  }
  53.33333333% {
    clip: rect(121px, 9999px, 32px, 0);
  }
  56.66666667% {
    clip: rect(67px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 130px, 0);
  }
  63.33333333% {
    clip: rect(137px, 9999px, 93px, 0);
  }
  66.66666667% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(112px, 9999px, 115px, 0);
  }
  73.33333333% {
    clip: rect(89px, 9999px, 79px, 0);
  }
  76.66666667% {
    clip: rect(73px, 9999px, 76px, 0);
  }
  80% {
    clip: rect(35px, 9999px, 12px, 0);
  }
  83.33333333% {
    clip: rect(117px, 9999px, 47px, 0);
  }
  86.66666667% {
    clip: rect(17px, 9999px, 94px, 0);
  }
  90% {
    clip: rect(142px, 9999px, 109px, 0);
  }
  93.33333333% {
    clip: rect(134px, 9999px, 139px, 0);
  }
  96.66666667% {
    clip: rect(89px, 9999px, 108px, 0);
  }
  100% {
    clip: rect(5px, 9999px, 118px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.66666667% {
    clip: rect(6px, 9999px, 149px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 94px, 0);
  }
  13.33333333% {
    clip: rect(67px, 9999px, 87px, 0);
  }
  16.66666667% {
    clip: rect(51px, 9999px, 110px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 72px, 0);
  }
  23.33333333% {
    clip: rect(130px, 9999px, 38px, 0);
  }
  26.66666667% {
    clip: rect(91px, 9999px, 134px, 0);
  }
  30% {
    clip: rect(69px, 9999px, 57px, 0);
  }
  33.33333333% {
    clip: rect(93px, 9999px, 114px, 0);
  }
  36.66666667% {
    clip: rect(122px, 9999px, 80px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 110px, 0);
  }
  43.33333333% {
    clip: rect(108px, 9999px, 112px, 0);
  }
  46.66666667% {
    clip: rect(133px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(15px, 9999px, 123px, 0);
  }
  53.33333333% {
    clip: rect(121px, 9999px, 32px, 0);
  }
  56.66666667% {
    clip: rect(67px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 130px, 0);
  }
  63.33333333% {
    clip: rect(137px, 9999px, 93px, 0);
  }
  66.66666667% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(112px, 9999px, 115px, 0);
  }
  73.33333333% {
    clip: rect(89px, 9999px, 79px, 0);
  }
  76.66666667% {
    clip: rect(73px, 9999px, 76px, 0);
  }
  80% {
    clip: rect(35px, 9999px, 12px, 0);
  }
  83.33333333% {
    clip: rect(117px, 9999px, 47px, 0);
  }
  86.66666667% {
    clip: rect(17px, 9999px, 94px, 0);
  }
  90% {
    clip: rect(142px, 9999px, 109px, 0);
  }
  93.33333333% {
    clip: rect(134px, 9999px, 139px, 0);
  }
  96.66666667% {
    clip: rect(89px, 9999px, 108px, 0);
  }
  100% {
    clip: rect(5px, 9999px, 118px, 0);
  }
}
