<div *ngIf="contact" class="wrapper ">


    <div>
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content dark-text">
              <span class="card-title">{{contact.firstName}} {{contact.lastName}} </span>
              <p>{{contact.email}}</p><p> {{contact.country}}</p>
            </div>
            <div class="card-action">
               <a (click)="destroy()" class="btn-floating waves-effect waves-light red">
        <i class="material-icons">clear</i>
       </a>
       <a (click)="update()" [routerLink]="['/update', contact._id]" class="btn-floating waves-effect waves-light green">
        <i class="material-icons">create</i>
       </a>
            </div>
          </div>
        </div>
      </div>
  
  
</div>