<div *ngIf="wolf" class="wrapper ">


    <div>
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content dark-text">
              <span class="card-title">{{wolf.firstName}} {{wolf.lastName}} </span>
              <p>{{wolf.email}}</p><p> {{wolf.country}}</p>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons">call</i></a>
              <a href="#"><i class="material-icons">clear</i></a>
            </div>
          </div>
        </div>
      </div>
  
  
</div>