/*#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 Add animation to "page content"
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}*/

.socket{
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: -100px;
      }
      
      .hex-brick{
        background: #cddc39;
        width: 30px;
        height: 17px;
        position: absolute;
        top: 5px;
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
      }
      
      .h2{
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
      }
      
      .h3{
        transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
      }
      
      .gel{
        height: 30px;
        width: 30px;  
        transition: all .3s;
        -webkit-transition: all .3s;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      
      .center-gel{
        margin-left: -15px;
        margin-top: -15px;
        
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
      }
      
      .c1{
        margin-left: -47px;
        margin-top: -15px;
      }
      
      .c2{
        margin-left: -31px;
        margin-top: -43px;
      }
      
      .c3{
        margin-left: 1px;
        margin-top: -43px;
      }
      
      .c4{
        margin-left: 17px;
        margin-top: -15px;
      }
      .c5{
        margin-left: -31px;
        margin-top: 13px;
      }
      
      .c6{
        margin-left: 1px;
        margin-top: 13px;
      }
      
      .c7{
        margin-left: -63px;
        margin-top: -43px;
      }
      
      .c8{
        margin-left: 33px;
        margin-top: -43px;
      }
      
      .c9{
        margin-left: -15px;
        margin-top: 41px;
      }
      
      .c10{
        margin-left: -63px;
        margin-top: 13px;
      }
      
      .c11{
        margin-left: 33px;
        margin-top: 13px;
      }
      
      .c12{
        margin-left: -15px;
        margin-top: -71px;
      }
      
      .c13{
        margin-left: -47px;
        margin-top: -71px;
      }
      
      .c14{
        margin-left: 17px;
        margin-top: -71px;
      }
      
      .c15{
        margin-left: -47px;
        margin-top: 41px;
      }
      
      .c16{
        margin-left: 17px;
        margin-top: 41px;
      }
      
      .c17{
        margin-left: -79px;
        margin-top: -15px;
      }
      
      .c18{
        margin-left: 49px;
        margin-top: -15px;
      }
      
      .c19{
        margin-left: -63px;
        margin-top: -99px;
      }
      
      .c20{
        margin-left: 33px;
        margin-top: -99px;
      }
      
      .c21{
        margin-left: 1px;
        margin-top: -99px;
      }
      
      .c22{
        margin-left: -31px;
        margin-top: -99px;
      }
      
      .c23{
        margin-left: -63px;
        margin-top: 69px;
      }
      
      .c24{
        margin-left: 33px;
        margin-top: 69px;
      }
      
      .c25{
        margin-left: 1px;
        margin-top: 69px;
      }
      
      .c26{
        margin-left: -31px;
        margin-top: 69px;
      }
      
      .c27{
        margin-left: -79px;
        margin-top: -15px;
      }
      
      .c28{
        margin-left: -95px;
        margin-top: -43px;
      }
      
      .c29{
        margin-left: -95px;
        margin-top: 13px;
      }
      
      .c30{
        margin-left: 49px;
        margin-top: 41px;
      }
      
      .c31{
        margin-left: -79px;
        margin-top: -71px;
      }
      
      .c32{
        margin-left: -111px;
        margin-top: -15px;
      }
      
      .c33{
        margin-left: 65px;
        margin-top: -43px;
      }
      
      .c34{
        margin-left: 65px;
        margin-top: 13px;
      }
      
      .c35{
        margin-left: -79px;
        margin-top: 41px;
      }
      
      .c36{
        margin-left: 49px;
        margin-top: -71px;
      }
      
      .c37{
        margin-left: 81px;
        margin-top: -15px;
      }
      
      .r1{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .2s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .2s;
      }
      
      .r2{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .4s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .4s;
      }
      
      .r3{
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .6s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .6s;
      }
      
      .r1 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .2s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .2s;
      }
      
      .r2 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .4s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .4s;
      }
      
      .r3 > .hex-brick{
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: .6s;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: .6s;
      }
      
      
      @keyframes pulse{
        0%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        
        50%{
          -webkit-transform: scale(0.01);
          transform: scale(0.01);
        }
        
        100%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      @keyframes fade{
        0%{
          background: #cddc39;
        }
        
        50%{
          background: #90BBBF;
        }
        
        100%{
          background: #ABF8FF;
        }
      }
      
      @-webkit-keyframes pulse{
        0%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        
        50%{
          -webkit-transform: scale(0.01);
          transform: scale(0.01);
        }
        
        100%{
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      @-webkit-keyframes fade{
        0%{
          background: #ABF8FF;
        }
        
        50%{
          background: #389CA6;
        }
        
        100%{
          background: #ABF8FF;
        }
      }

@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
body {
  background-color: #F5F5F5;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

.circle-loader {
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 16px 16px;
          transform-origin: 16px 16px;
  -webkit-animation: rotate-animation 5s infinite;
          animation: rotate-animation 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.circle-loader .circle {
  -webkit-animation: move-animation 2.5s infinite;
          animation: move-animation 2.5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 50%;
  top: 50%;
}
.circle-loader .circle-line {
  width: 64px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 0;
  -webkit-transform-origin: 4px 4px;
          transform-origin: 4px 4px;
}
.circle-loader .circle-line:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.circle-loader .circle-line:nth-child(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circle-loader .circle-line:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle-loader .circle-line:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.circle-loader .circle-line .circle:nth-child(1) {
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 4px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.circle-loader .circle-line .circle:nth-child(2) {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.circle-loader .circle-line .circle:nth-child(3) {
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 12px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.circle-loader .circle-blue {
  background-color: #c6ff00;
}
.circle-loader .circle-red {
  background-color: #827717;
}
.circle-loader .circle-yellow {
  background-color: #eeff41 ;
}
.circle-loader .circle-green {
  background-color: #69f0ae;
}
